.clientes {
    max-width: 1200px;
    padding: 40px 20px;   
    margin:0 auto;
}

.clientes-logo{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}
.clientes h2{
    font-size: 3rem;
    line-height: 1.33;
    margin-bottom: 90px;
    text-align: center;
}

.clientes-logo img{
    max-height: 50px;
    opacity: 40%;
}

.clientes p{
    margin-top: 50px;
    font-size: 1.25rem;
    line-height: 1.33;
    text-align: center;
}